body {
  background-color: #070014 !important;
}
a{
  text-decoration: none !important;
}
.btn-rounded {
  border-radius: 48px !important;
}
/* How it Works Section Button */
.btn-rounded-1 {
  text-align: center;
  align-items: center;
  border-radius: 48px !important;
  position: relative;
  /* left: 36.5rem; */
  bottom: -20px;
  padding: 10px 20px;
}
.btn-rounded-2 {
  text-align: center;
  align-items: center;
  border-radius: 48px !important;
  position: relative;
  left: 1rem;
  bottom: -20px;
  padding: 10px 20px;
}
.app-bar {
  background-color: #070014 !important;
  padding: 2rem 0 !important;
}
.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
}
.main-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 74px;
  line-height: 88px;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.sub-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 76px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.sub-heading-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 76px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.medium-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.small-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
}
.x-small-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.small-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}
.primary-text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  letter-spacing: 0.02em;

  color: rgba(255, 255, 255, 0.8);
}

.bg-dark-grey {
  background: #1a1a25;
  border-radius: 12px;
  height: 100%;
}
.gradient-text {
  background: -webkit-linear-gradient(
    220.97deg,
    #6415ff 18.89%,
    #f6808a 41.94%,
    #fb96fb 52.39%,
    #14e0ff 81.9%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* No More Typing Image Adjusting */
/* .bg-dark-grey.box-size {
  height: 600px;
} */

/* How it Works Section Text Adjusting */
/* .bg-dark-grey.p-1 {
  height: 500px;
  width: 240px;
  padding: 10px;

} */

.header-btn {
  border: none;
  display: inline-block;
  border-radius: 99px;
  color: white;
  position: relative;
  z-index: 1;
  font-size: 14px;
  padding: 10px 25px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

.header-btn:before,
.header-btn:after {
  content: " ";
  position: absolute;
  border-radius: 99px;
}
.header-btn:before, .modal-close-btn::before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background: #6415ff;
  background: -moz-linear-gradient(
    220.97deg,
    #6415ff 18.89%,
    #f6808a 41.94%,
    #fb96fb 52.39%,
    #14e0ff 81.9%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #503b9a),
    color-stop(100%, #269cc1)
  );
  background: -webkit-linear-gradient(
    left,
    #6415ff 18.89%,
    #f6808a 41.94%,
    #fb96fb 52.39%,
    #14e0ff 81.9%
  );
  background: -o-linear-gradient(
    left,
    #6415ff 18.89%,
    #f6808a 41.94%,
    #fb96fb 52.39%,
    #14e0ff 81.9%
  );
  background: -ms-linear-gradient(
    left,
    #6415ff 18.89%,
    #f6808a 41.94%,
    #fb96fb 52.39%,
    #14e0ff 81.9%
  );
  background: linear-gradient(
    to right,
    #6415ff 18.89%,
    #f6808a 41.94%,
    #fb96fb 52.39%,
    #14e0ff 81.9%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#503b9a', endColorstr='#269cc1',GradientType=1 );
}

.header-btn:after, .modal-close-btn::after {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: black;
  z-index: -1;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.header-btn:hover:after {
  opacity: 0.8;
}
.hero-section {
  background-image: url(/public/assets/backgrounds/hero-bg.png);
  background-color: #070014 !important;
  /* border: 1px solid; */
  /* height: 400px; */
}
.hero-section-row {
  padding-top: 100px !important;
}
.hero-heading {
}

.hero-text {
  padding-left: 50px;
}
.hero-btn {
  /* padding:px 30px !important; */
}
.ai-fields-row {
  padding: 50px 0 !important;
  margin: 20px 0 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}
.ai-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: #070014;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}
.ai-field:hover {
  /* -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 13px rgba(0,0,0,0);  */
  box-shadow: 3px -10px 15px 5px rgba(100, 21, 255, 0.6),
    -3px 10px 15px 5px rgba(20, 224, 255, 0.6);
  /* -7px -5px 15px 5px #8CFF85, 
12px -5px 15px 5px #80C7FF, 
12px 10px 15px 7px #E488FF, 
-10px 10px 15px 7px #FF616B, 
-10px -7px 27px 1px #8E5CFF, 
5px 5px 15px 13px rgba(0,0,0,0); */
}
/* .ai-field:hover{ */
/* background: #070014; */
/* box-shadow: inset 0 0 12px 12px rgba(20, 224, 255, 0.6), inset 0 0 3px 2px rgba(100, 21, 255, 0.6); */
/* background: linear-gradient(to top, rgba(20, 224, 255, 0.6) , rgba(100, 21, 255, 0.6)); */
/* background: rgba(20, 224, 255, 0.6); */
/* background: rgba(100, 21, 255, 0.6); */
/* } */
.heading-icon {
  background: #1a1a25;
  border-radius: 16px;
  padding: 10px;
  margin-right: 20px;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* New Life And Get It Right Sections Changing */
.heading-icon-flat {
  background: #1a1a25;
  border-radius: 16px;
  padding: 15px;
  margin-right: 20px;
}

.img-classification {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #070014;
  border-radius: 12px;
  padding: 60px 0 30px 0;
}
.img-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-right: 50px */
}
.img-box span {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

/* New LIfe Section */
.new-section {
  padding-top: 50px;
}
.new-section.text-section {
  background-image: url("/public/assets/backgrounds/image-from-rawpixel-id-3280494-original\ 3.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newlife-image {
  width: 357px;
  height: 520px;
}
.newlife-image-1 {
  height: 528;
  padding-top: 30px;
}
/* Get It Right Section */
.backgroung-img {
  width: 1245px;
  height: 520px;
}

/* Catch Ya Section */
.animated-image {
  width: 360px;
  height: 360px;
}

/* No More Typing Section */
.text-image {
  height: 350px;
  width: 350px;
}

.text-image-1 {
  height: 400px;
  width: 300px;
}

/* How It Works Section */
.image-section {
  height: 200px;
  width: 170px;
  padding-left: 15px;
}
.image-section h3 {
  padding-top: 10px;
}
.how-it-work .text-container {
  background-image: url("/public/assets/backgrounds/Union.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #070014 !important;
  height: 800px;
}
.new-section.back-image {
  background-image: url("/public/assets/backgrounds/Union.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #070014 !important;
  height: 300px;
}

.mask-group {
  height: 400px;
  width: 600px;
  border-radius: 10px;
  position: relative;
  left: -45px;
  top: 1px;
}
.work-section {
  background-image: url("/public/assets/backgrounds/why-choose-desktop-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  padding: 5rem 0;
  display: flex;
  align-items: center;
}
.guide-step:hover {
  background: #1a1a25;
  border-radius: 12px;
}
.mask-layer {
  background-color: #070014;
  /* width: 1130px; */
  /* height: 400px; */
  position: relative;
  /* left: 11.5rem; */
  /* top: 10rem; */
  /* align-content: center; */
  /* align-self: center; */
  border-radius: 10px;
}
.footer-section {
  background: #1a1a25;
}
.footer-links a {
  text-decoration: none !important;
  margin-top: 1rem;
}
.footer-links a:hover {
  text-decoration: none !important;
  color: #ffffff !important;
}

.mob-ai-fields {
  display: flex;
  overflow-x: scroll;
  min-height: 200px;
}
.mob-fields {
  display: flex;
  overflow-x: scroll;
}
.mob-fields > div {
  flex: 0 0 300px;
}

.features-carousel .carousel-indicators {
  top: 10px !important;
}
.features-carousel .carousel-indicators button {
  width: 30% !important;
}
.features-carousel .carousel-control-next,
.features-carousel .carousel-control-prev {
  display: none;
}

.desktop-row .border-end,
.carousel-item .border-end {
  border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.desktop-row .border-top,
.carousel-item .border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
}

/* Form Styles */
.form-modal .modal-content{
  background-color: #1a1a25 !important;
}
.modal-close-btn{
  position: absolute;
  background: transparent;
  right: -51px;
  padding: 10px;
  border: 0px;
  box-sizing: border-box;
  /* border-radius: 2px; */
}
.modal-close-btn::before,
.modal-close-btn::after {
  content: " ";
  position: absolute;
  border-radius: 4px;
}
.input-field {
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px !important;
  margin-top: 1rem;
  /* position: absolute; */
  /* width: 348px;
  height: 58px; */
  background: rgba(0, 0, 0, 0.25) !important;
  border-radius: 8px !important;
  border: 0px !important;
  color: #ffffff !important;
  box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.3);
}
.select-filed option{
  background: #070014;
  color: #ffffff !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
/* .selection-val:hover{
  background: red !important;
 
} */
.input-field:focus,
.input-field:active {
  outline: none !important;
  box-shadow: 1px 1px 5px 1px rgba(20, 224, 255, 0.6) !important;
}
.submit-btn{
  margin: 2rem 0;
  background: linear-gradient(to left, rgba(100, 21, 255, 0.6), rgba(20, 224, 255, 0.6)) !important;
  /* 3px -10px 15px 5px rgba(100, 21, 255, 0.6), */
    /* -3px 10px 15px 5px rgba(20, 224, 255, 0.6); */
}
/*Blog Page Styles */
.blog-main-heading {
  font-weight: normal;
  font-size: 64px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 7rem 0;
}
.blog-content {
  margin: 6rem 0 !important;
}
.blog-sub-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  /* or 129% */

  letter-spacing: 0.02em;

  color: #ffffff;
  margin: 2rem 0;
}
.blog-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  letter-spacing: 0.005em;

  color: rgba(255, 255, 255, 0.8);
}
/* .our-ai-fields::-webkit-scrollbar {
  width: 1px !important;
}


.our-ai-fields::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}

.our-ai-fields::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
} */

.mobile-row {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .main-heading{
    font-size: 60px;
  }
  .how-it-work .text-container {
    height: auto;
  }
  .work-section {
    height: auto;
    padding: 3rem 0;
  }
  .blog-main-heading {
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 7rem 0;
  }
}
@media screen and (max-width: 767px) {
  .desktop-row {
    display: none !important;
  }
  .mobile-row {
    display: flex !important;
  }
  .main-heading {
    text-align: center;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 3rem;
  }

  .sub-heading {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }

  .heading-description {
    display: none !important;
  }
  .how-it-work .text-container {
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .work-section {
    background-image: url("/public/assets/backgrounds/why-choose-mobile-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mask-layer {
    background-color: #070014;

    position: relative;

    border-radius: 10px;
  }
  .ai-field {
    flex: 0 0 160px;
  }
  .blog-main-heading {
    font-weight: normal;
    font-size: 42px;
    line-height: 60px;
    text-align: left !important;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 7rem 0;
  }
  .modal-close-btn{
    top: -50px;
    right: 10px;
 
  }
}
